/cypress
/coverage
/build
.idea
/k8s
/node_modules
/.env
/.eslintrc.json
/.prettierignore
/.stylelintrc.json
/.prettierrc
/admin.conf
/babel.config.json
/cypress.config.js
/Dockerfile
/README.md
/shell-mf.build.log
/skaffold.yaml
