!/*/node_modules
!/microservices/users/users-ms/node_modules
!/*/*/*/.env
!/*/*/*/.production.env
!/*/*/*/.development.env
!/vagrant/.vagrant
!/*/*/.terraform
!/microservices/users/users-ms/client_secret_466663207078-i5894s1abge7cg402a62i9rm5unsen5q.apps.googleusercontent.com.json
