**/**/node_modules
**/**/.idea
**/**/.vscode
**/**/dist
**/**/build
**/**/.env
**/**/.production.env
**/**/.development.env
**/**/.kpt-pipeline
!/architecture/.$*.drawio.bkp
!/frontend/.dockerignore
!/.gitignore
!/terraform/azure/.terraform.lock.hcl
!/terraform/gcp/terraform.json
!/vagrant/.vagrant
