.table-header {
  display: flex;
  height: 48px;
  width: 100%;
  &-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    width: 100%;
  }
}
