/* Yellow */
$primary-yellow-10: rgba(255, 252, 232, 1);
$primary-yellow-20: rgba(255, 247, 181, 1);
$primary-yellow-30: rgba(255, 242, 130, 1);
$primary-yellow-40: rgba(255, 237, 80, 1);
$primary-yellow-50: rgba(238, 217, 27, 1);
$primary-yellow-60: rgba(204, 185, 10, 1);
$primary-yellow-70: rgba(170, 153, 0, 1);
$primary-yellow-80: rgba(136, 122, 0, 1);
$primary-yellow-90: rgba(102, 92, 0, 1);
$primary-yellow-100: rgba(68, 61, 0, 1);
/* Blue */
$primary-blue-10: rgba(232, 235, 255, 1);
$primary-blue-20: rgba(190, 200, 255, 1);
$primary-blue-30: rgba(148, 165, 255, 1);
$primary-blue-40: rgba(107, 131, 255, 1);
$primary-blue-50: rgba(65, 96, 255, 1);
$primary-blue-60: rgba(23, 58, 242, 1);
$primary-blue-70: rgba(1, 33, 201, 1);
$primary-blue-80: rgba(0, 26, 160, 1);
$primary-blue-90: rgba(0, 19, 119, 1);
$primary-blue-100: rgba(0, 13, 78, 1);
/* Red */
$primary-red-10: rgba(255, 234, 234, 1);
$primary-red-20: rgba(255, 188, 188, 1);
$primary-red-30: rgba(255, 142, 142, 1);
$primary-red-40: rgba(255, 95, 95, 1);
$primary-red-50: rgba(243, 47, 47, 1);
$primary-red-60: rgba(209, 27, 27, 1);
$primary-red-70: rgba(175, 11, 11, 1);
$primary-red-80: rgba(141, 0, 0, 1);
$primary-red-90: rgba(107, 0, 0, 1);
$primary-red-100: rgba(73, 0, 0, 1);
/* Cyan */
$secondary-cyan-10: rgba(232, 255, 252, 1);
$secondary-cyan-20: rgba(181, 255, 246, 1);
$secondary-cyan-30: rgba(130, 255, 240, 1);
$secondary-cyan-40: rgba(80, 255, 234, 1);
$secondary-cyan-50: rgba(27, 238, 213, 1);
$secondary-cyan-60: rgba(10, 204, 181, 1);
$secondary-cyan-70: rgba(0, 170, 150, 1);
$secondary-cyan-80: rgba(0, 136, 120, 1);
$secondary-cyan-90: rgba(0, 102, 90, 1);
$secondary-cyan-100: rgba(0, 68, 60, 1);
/* Green */
$secondary-green-10: rgba(237, 255, 241, 1);
$secondary-green-20: rgba(198, 255, 210, 1);
$secondary-green-30: rgba(159, 255, 180, 1);
$secondary-green-40: rgba(119, 255, 149, 1);
$secondary-green-50: rgba(78, 249, 116, 1);
$secondary-green-60: rgba(54, 215, 89, 1);
$secondary-green-70: rgba(34, 181, 66, 1);
$secondary-green-80: rgba(18, 147, 46, 1);
$secondary-green-90: rgba(7, 113, 30, 1);
$secondary-green-100: rgba(0, 79, 17, 1);
/* Purple */
$secondary-purple-10: rgba(254, 237, 255, 1);
$secondary-purple-20: rgba(254, 196, 255, 1);
$secondary-purple-30: rgba(253, 155, 255, 1);
$secondary-purple-40: rgba(252, 114, 255, 1);
$secondary-purple-50: rgba(241, 71, 244, 1);
$secondary-purple-60: rgba(207, 49, 210, 1);
$secondary-purple-70: rgba(173, 31, 176, 1);
$secondary-purple-80: rgba(140, 17, 142, 1);
$secondary-purple-90: rgba(106, 7, 108, 1);
$secondary-purple-100: rgba(73, 1, 74, 1);
/* Orange */
$secondary-orange-10: rgba(255, 246, 232, 1);
$secondary-orange-20: rgba(255, 229, 190, 1);
$secondary-orange-30: rgba(255, 212, 149, 1);
$secondary-orange-40: rgba(255, 196, 107, 1);
$secondary-orange-50: rgba(255, 179, 66, 1);
$secondary-orange-60: rgba(243, 155, 23, 1);
$secondary-orange-70: rgba(203, 123, 4, 1);
$secondary-orange-80: rgba(162, 97, 0, 1);
$secondary-orange-90: rgba(121, 73, 0, 1);
$secondary-orange-100: rgba(80, 48, 0, 1);
/* Gray */
$tertiary-gray-10: rgba(254, 254, 254, 1);
$tertiary-gray-20: rgba(233, 233, 233, 1);
$tertiary-gray-30: rgba(213, 213, 213, 1);
$tertiary-gray-40: rgba(192, 192, 192, 1);
$tertiary-gray-50: rgba(172, 172, 172, 1);
$tertiary-gray-60: rgba(152, 152, 152, 1);
$tertiary-gray-70: rgba(131, 130, 130, 1);
$tertiary-gray-80: rgba(111, 108, 108, 1);
$tertiary-gray-90: rgba(90, 87, 87, 1);
$tertiary-gray-100: rgba(70, 66, 66, 1);
/* Black and White */
$white: rgba(255, 255, 255, 1);
$black-100: rgba(18, 17, 17, 1);
$black-50: rgba(0, 0, 0, 0.5);
$black-40: rgba(108, 106, 106, 1);
