.input-label {
  display: flex;
  justify-content: space-between;
  font-size: var(--cds-body-compact-01-font-size, 0.875rem);
  font-family: inherit;
  font-style: inherit;
}

.pwd-heading-font {
  font: inherit;
  font-size: 0.875rem;
}

.sidenav-divider {
  margin-left: 0;
  margin-right: 0;

  &::marker {
    content: "";
  }
}

.form-button {
  width: 20rem;
  position: absolute;
  top: 17.7rem;
}