.table-rows {
  display: table;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  border-spacing: 0;
}

.table-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
