.table-top {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  padding: 0 60px;
  height: 64px;
  min-height: 64px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #acacac;
  box-sizing: border-box;
}
