.idea
.kpt-pipeline
.terraform
common
contracts
customers-and-suppliers
invoices
orders
shell
statistics
supplies
users
Utils
.gitattributes
.gitignore
.npmignore
.terraform.lock.hcl
docker-compose.yaml
main.tf
output.tf
package.json
provider.tf
rush.json
skaffold.yaml
terraform.json
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
variables.tf
.eslintrc.js