.main-content {
  padding: 0;
  margin-left: 24rem !important;
}

.background-img {
  position: absolute;
  width: calc(100% - 24rem);
  height: calc(100% - 3rem);
  right: 0;
  bottom: 0;
  transform: rotateY(180deg);
}











