.main-content {
  position: absolute;
  min-height: 100%;
  padding: 5% 10%;
  top: 3rem;
  right: 0;
  bottom: 0;
  transition: width 0.11s cubic-bezier(0.2, 0, 1, 0.9);
}

.side-nav {
  border-right: 1px solid #6f6f6f;
}
