.app {
  display: flex;
  font: 24px/14px sans-serif;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 24px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
